@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:wght@300&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


:root {
    /* Color Pallet */
    --color-white: #f5f5f5;
    --color-silver: #c6c2c2;
    --highlight-silver: #e0dddd;
    --dark-silver: #a8a6a6;    
    --color-dark-blue: #001831;
    --color-gold: #daa520;
    --color-ruby: #c80000;
    --color-deep-burgundy: #6D071A;

    --base-shadow-color: #0000001a;
    --base-shadow-hover-color: #0000001a;
    --text-shadow-color: #00183121 ;

    /* Shadows */
    --base-shadow: 0 4px 6px var(--base-shadow-color);
    --base-shadow-hover: 2px 6px 6px 4px var(--base-shadow-hover-color);
    --text-shadow: 0 0 5px var(--text-shadow-color);

    /* Color Colors  */
    --nav-grad-1: var(--highlight-silver);
    --nav-grad-2: var(--color-silver);
    --nav-grad-3: var(--dark-silver);    

    /* Text Colors */
    --text-color-primary: var(--color-dark-blue);
    --promo-color: var(--color-deep-burgundy);
    --a-hover-color: var(--color-ruby);

    /* Background Colors */
    --background-color-primary: var(--color-white);

    /* Link Colors */
    --link-color: var(--color-dark-blue);
    --link-color-hover: var(--color-deep-burgundy);
}

* {
    margin: 0;
    padding: 0;
    
    /* dev */
    /* box-sizing: border-box;
    border-style:dotted;
    border-width: 1px; */

    color: var(--text-color-primary);
}

body {
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
    font-family: "Tajawal", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
}
p {
    font-size: 1.1rem;
}

header > img {
    display: block;
    margin: 1rem auto;
}

nav {
    background: linear-gradient(
        145deg, 
        var(--nav-grad-1), 
        var(--nav-grad-2), 
        var(--nav-grad-3)
        );
    border-radius: 10px;
    box-shadow: var(--base-shadow);
    padding: 0.5rem 0.5rem;
}

nav ul {
    list-style: none;
}

ul {
    display: flex;
    justify-content: space-around;
    margin: auto 20%;
}

ul > li {
    display: inline-block;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5%;
    margin: 1rem 0;
}

article {
    display: block;
    width: 100%;
    margin: .3rem;
    box-shadow: var(--base-shadow);  
    padding: 1rem;
    border-radius: 10px;
}

article:hover {
    box-shadow: var(--base-shadow-hover);
}

article > h2 {
    text-shadow: var(--text-shadow);
}

article > .image-container img {
    transition: transform .3s ease;
}

article:hover > .image-container img {
    transform: scale(1.1);
}


.pitch {
    margin-top: .9rem;
}


.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promotional {
    --bg-image: url(../images/necklace-promo.png);
    --bg-image-opacity: .35;
    
    height: 10rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    isolation: isolate;
}

.promotional::after {
    background: var(--bg-image);
    background-size: 1000px;
    background-position: center;
    background-repeat: no-repeat;  
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: var(--bg-image-opacity);
}

.promotional:hover {
    --bg-image-opacity: .9;
}

.promotional > div > h2 {
    text-shadow: var(--text-shadow);
}

.promo-percentage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: transform .3s ease;
}

.promotional:hover .promo-percentage {
    transform: scale(1.1);
}

.promo-percentage > * {
    color: var(--promo-color);
}

footer {
    display: flex;
    justify-content: space-between;
    /* margin: 1rem auto; */
    background: linear-gradient(
        145deg, 
        var(--nav-grad-1), 
        var(--nav-grad-2), 
        var(--nav-grad-3)
        );
    border-radius: 10px;
    box-shadow: var(--base-shadow);
    padding: .5rem .5rem;
}

.footer-info {
    padding: .5rem .5rem;
    display: flex;
    align-content: center;
}

a {
    color: var(--color-dark-gold);
    font-size: 1.1rem;
    text-decoration: none;
}

a:hover {
    color: var(--a-hover-color);
    text-decoration: none;
}

