:root {

    --color-white: #f5f5f5;
    --color-silver: #c6c2c2;
    --highlight-silver: #e0dddd;
    --shadow-silver: #a8a6a6;    
    --color-dark-blue: #001831;
    --color-gold: #daa520;
    --color-ruby: #c80000;

    --base-shadow: 0 4px 6px #0000001a;
    --base-shadow-2: 0 4px 6px #0000001a;

    /* Text Colors */
    --text-color-primary: var(--color-dark-blue);
    --text-color-secondary: var(--color-white);

    /* Background Colors */
    --background-color-primary: var(--color-white);
    --background-color-secondary: var(--color-dark-blue);

    /* Border Colors */
    --border-color-primary: var(--color-silver);
    --border-color-secondary: var(--color-ruby);

    /* Button Colors */
    --button-color-primary: var(--color-gold);
    --button-color-hover: var(--color-silver);
    --button-text-color: var(--color-white);

    /* Link Colors */
    --link-color: var(--color-ruby);
    --link-hover-color: var(--color-gold);

}


* {
    margin: 0;
    padding: 0;
    
    /* dev */
    /* box-sizing: border-box;
    border-style:dotted;
    border-width: 1px; */

    color: var(--text-color-primary);
}

body {
    background-color: var(--color-white); /* White background */
    color: #000000; /* Black text */
    font-family: 'Arial', sans-serif;
    font-family: 'Markazi text', 'serif';
    margin-top: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
}
p {
    font-size: 1.1rem;
}

header > img {
    display: block;
    margin: 1rem auto;
}

nav {
    background: linear-gradient(
        145deg, 
        var(--highlight-silver), 
        var(--color-silver), 
        var(--shadow-silver)
        );
    border-radius: 10px;
    box-shadow: var(--base-shadow);
    padding: 0.5rem 0.5rem;
}

nav ul {
    list-style: none;
}

ul {
    display: flex;
    justify-content: space-around;
    margin: auto 20%;
}

ul > li {
    display: inline-block;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5%;
    margin: 1rem 0;
}

article {
    display: block;
    width: 100%;
    box-shadow: var(--base-shadow-2);  
    padding: .5rem;
    border-radius: 10px;
}

article > h2 {
    text-shadow: var(--base-shadow);
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promotional {
    --bg-image: url(../images/necklace-promo.png);
    --bg-image-opacity: .35;
    
    height: 10rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    isolation: isolate;
}

.promotional::after {
    background: var(--bg-image);
    background-size: 1000px;
    background-position: center;
    background-repeat: no-repeat;  
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: var(--bg-image-opacity);
}

.promotional:hover {
    --bg-image-opacity: .9;
}

.promo-percentage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer {
    display: flex;
    justify-content: space-between;
    /* margin: 1rem auto; */
    background: linear-gradient(
        145deg, 
        var(--highlight-silver), 
        var(--color-silver), 
        var(--shadow-silver)
        );
    border-radius: 10px;
    box-shadow: var(--base-shadow);
    padding: .5rem .5rem;
}

.footer-info {
    padding: .5rem .5rem;
    display: flex;
    align-content: center;
}

.footer-info:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

a {
    color: var(--color-dark-gold);
    font-size: 1.1rem;
    text-decoration: none;
}

a:hover {
    color: var(--color-ruby);
    text-decoration: none;
}

/* Optional: Adding a border to separate content sections */
.section {
    border-top: 2px solid #C0C0C0; /* Silver border */
    padding-top: 20px;
    margin-top: 20px;
}
